@import "normalize.css";

html,
body,
#root,
#bungkus,
main,
canvas {
    height: 100dvh;
}

@media (display-mode: fullscreen) {
    html,
    body,
    #root,
    #bungkus,
    main,
    canvas {
        height: 100dvh;
    }
}

#root1 {
    background: linear-gradient(to bottom, #0081ad, #00384a);
}

#root2 {
    background: linear-gradient(to bottom, #0081ad, #000000);
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url("assets/fonts/proxima-nova/Fontspring-DEMO-proximanova-regular.otf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova Thin"), url("assets/fonts/proxima-nova/Fontspring-DEMO-proximanova-thin.otf") format("truetype");
    font-style: normal;
    font-weight: 100; /* or use 'thin' */
}

@media screen and (min-width: 768px) {
    .tabb {
        letter-spacing: 8px;
    }
}

input[type="text"] {
    border: none;
    background: none;
    outline: none;
    /* tambahkan properti lain sesuai kebutuhan */
}

#cbar::-webkit-scrollbar {
    width: 15px !important;
    background-color: #fff;
    height: 15px !important;
}
#cbar::-webkit-scrollbar-thumb {
    background-color: #0081ad !important;
    scrollbar-width: thin !important;
    scrollbar-color: #045a9b #fff !important;
    border: 2px solid #fff;
}

.no-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}
