@import "normalize.css";

html,
body,
#root,
#bungkus,
main,
canvas {
    height: -webkit-fill-available;
}

@media (display-mode: fullscreen) {
    html body,
    #root,
    #bungkus,
    main,
    canvas {
        height: 100vh;
    }
}

#root {
    background: linear-gradient(to bottom, #0081ad, #00384a);
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url("assets/fonts/proxima-nova/Fontspring-DEMO-proximanova-regular.otf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova Thin"), url("assets/fonts/proxima-nova/Fontspring-DEMO-proximanova-thin.otf") format("truetype");
    font-style: normal;
    font-weight: 100; /* or use 'thin' */
}

@media screen and (min-width: 768px) {
    .tabb {
        letter-spacing: 8px;
    }
}

input[type="text"] {
    border: none;
    background: none;
    outline: none;
    /* tambahkan properti lain sesuai kebutuhan */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar {
    display: none;
}
